<div class="index-page">
  <div class="index-header">
    <h2>
      <mat-icon>menu_book</mat-icon>
      Document Index
    </h2>
    <p class="index-subtitle">{{ totalDocuments }} documents organized alphabetically</p>
  </div>

  <div class="index-content">
    <div *ngFor="let letter of alphabetSections" class="index-section">
      <h3 class="index-letter">{{ letter }}</h3>
      <div class="index-documents">
        <div *ngFor="let doc of groupedDocuments[letter]"
             class="index-document-item"
             (click)="onOpenDocument(doc)">
          <div class="index-doc-info">
            <div class="index-doc-title">{{ doc.title }}</div>
            <div class="index-doc-path">{{ doc.path }}</div>
          </div>
          <div class="index-doc-meta">
            <span class="index-doc-words">{{ doc.wordCount }} words</span>
            <button mat-icon-button
                    (click)="onToggleFavorite($event, doc.path)"
                    [class.is-favorite]="isFavorite(doc.path)"
                    matTooltip="Toggle favorite">
              <mat-icon>{{ isFavorite(doc.path) ? 'star' : 'star_border' }}</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
